<!DOCTYPE html>
<html>

<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>睿安信息科技</title>
	<link rel="icon" href="/static_user/img/system/navlogo.png" />

	<link rel="stylesheet" href="/static_user/css/all.css" />
	<link rel="stylesheet" href="/static_user/css/default.min.css" />

	<script type="text/javascript" src="/static_user/js/jquery-3.3.1.js"></script>


</head>

<body>

	<div id="news_top"></div>

	<div class=" info-right">
		<div class="info-right-title">
			<a href="#"></a> <span id="colName"></span>
		</div>

		<div id="frame_news_body" >
			<ul class="info-right-list">
				<li id="center-ul">				
				</li>
			</ul>
		</div>

		<div class="page-list ">
			<ul class="pagination">

			</ul>
		</div>


	</div>

	<div>
		<ul>
		</ul>
	</div>

	<div id="frame_bottom"></div>

	<script>

    	
		function GetQueryString(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}

		$("#news_top").load("frame_top.html");
        $("#frame_bottom").load("frame_bottom.html");
		var columnId = GetQueryString("colId");
		var superId=GetQueryString("superId");
		if(columnId==6||columnId==7){
				$(".info-right-list").attr("class","info-right-list2");
		}

		//获取所有的栏目名
		$.ajax({
            url: '/columnName',
            type: 'GET',
            data: {columnId: columnId},
            success: function (res) {
                if (res.code === 200) {
                    //获取所有的栏目名列表
                    var colNames = res.datas;
                    $("#colName").html(colNames);
                }
            }
        });


    toPage(1,columnId);
		function toPage(pageNum,columnId) {
            //	$(".num").attr("style","{}").siblings().removeAttr("color","red");
            //  $("#nav li").eq($(this).index()).addClass("navdown").siblings().removeClass("navdown");
            // 发送ajax请求

                $.ajax({
                    url: '/selectMessageByColumnId',
                    type: 'GET',
                    data: {
                        columnId: columnId,
                        page: pageNum
                    },

                    success: function (res) {
                        if (res.code === 200) {
                            // 清空列表, 重新更新
                            $("#center-ul").empty();
                            $('.pagination').empty();
                            var list = res.datas;
                            if (columnId == 1 || columnId == 9) {
                                window.location.href = 'info.html?messageId=' + list[0].id + '&colId=' + GetQueryString("colId");
                            }

                            var columnId2 = GetQueryString("colId");//莫名奇妙的bug，重新获取columnId，不加显示不了
                            for (var i = 0; i < list.length; i++) {
                                $("#center-ul")
                                    .append(
                                        "<div><img src='" + list[i].titleImgPath + "'>" + "<a href='info?messageId="
                                        + list[i].id
                                        + "&colId=" + columnId2 + "'>" + list[i].title
                                        + "</a><span>" + list[i].date
                                        + "</span>"
                                        + '</div>\n');
                            }
                            var totalPage = res.totalPage;

                            var pagenation = $('.pagination');
                            pagenation
                                .append('<a href="javascript:;"  class="num"  onclick="toPage(1,columnId)">&laquo </a>');
                            if (pageNum == 1 || pageNum == 2) {
                                // 输出5个数字
                                for (var i = 1; i <= 5 && i <= totalPage; i++) {
                                    if (i == pageNum) {
                                        pagenation
                                            .append('<a href="javascript:;"  class="pick">'
                                                + i + '</a>');
                                    } else {
                                        pagenation
                                            .append('<a href="javascript:;"  onclick="toPage('
                                                + i + "," + columnId
                                                + ')">'
                                                + i
                                                + '</a>');
                                    }
                                }
                            } else if (pageNum == totalPage - 1
                                || pageNum == totalPage) {
                                // 输出5个数字
                                for (var i = totalPage - 4; i <= totalPage; i++) {
                                    if (i < 1) {
                                        continue;
                                    }
                                    if (i == pageNum) {
                                        pagenation
                                            .append('<a href="javascript:;"  class="pick">'
                                                + i + '</a>');
                                    } else {
                                        pagenation
                                            .append('<a href="javascript:;"  onclick="toPage('
                                                + i + "," + columnId
                                                + ')">'
                                                + i
                                                + '</a>');
                                    }
                                }
                            } else {
                                // 在中间
                                for (var i = pageNum - 2; i <= pageNum + 2
                                && i <= totalPage; i++) {
                                    if (i == pageNum) {
                                        pagenation
                                            .append('<a href="javascript:;"  class="pick">'
                                                + i + '</a>');
                                    } else {
                                        pagenation
                                            .append('<a href="javascript:;" onclick="toPage('
                                                + i + "," + columnId
                                                + ')">'
                                                + i
                                                + '</a>');
                                    }
                                }
                            }
                            pagenation
                                .append('<a href="javascript:;" class="num"  onclick="toPage('
                                    + totalPage + "," + columnId + ')"> &raquo;</a>')
                        }
                    }
                })


        }


	</script>


</body>

</html>