<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
 		<link rel="stylesheet" href="/static_user/css/all.css" />
 		<script type="text/javascript" src="/static_user/js/jquery-3.3.1.js"></script>

		
		<script type="text/javascript">
		/*	//显示子菜单
			function showSubMenu(li) {
				var subMenu = li.getElementsByTagName("ul")[0];
				subMenu.style.display = "block";
			}

			//隐藏子菜单
			function hideSubMenu(li) {
				var subMenu = li.getElementsByTagName("ul")[0];
				subMenu.style.display = "none";
			}
			function changeBodyPage(id, pageId) {
				$("#frame_body").load("col_news.html",{colId:"3"});

			}*/

		 </script>

</head>

	<body>
		 <div style="border-bottom: 5px solid #123683; ">
			 <img src="/static_user/img/logo2.png" style="height: 80px; float:left;"/>
<!--
			 <ul id="navigation" style=" float:right;"> </ul>
-->
			 <div class="menu">
				 <ul id="navigation">
					 <!--<li>
                     <a  href="#">服务1</a>
                     <div>
                         <span><a href="#">服务一</a></span>
                         <span><a href="#">服务一</a></span>
                         <span><a href="#">服务一</a></span>
                         <span><a href="#">服务一</a></span>
                         <span><a href="#">服务一</a></span>
                     </div>
                 </li>
                     <li>
                         <a  href="#">服务1</a>
                         <div>
                             <span><a href="#">服务一</a></span>
                             <span><a href="#">服务一</a></span>
                             <span><a href="#">服务一</a></span>
                             <span><a href="#">服务一</a></span>
                             <span><a href="#">服务一</a></span>
                         </div>
                     </li>-->
				 </ul>
			 </div>

             <div style="clear:both;"></div>
		 </div>
	</body>
	
		 <script>
//获取所有栏目
  $(document).ready(function(){
			 $.ajax({
					type:"GET",
					url:"/selectColumn",//地址改名
					dataType:"json",
					success:function(data){
						//获取所有栏目
						var cols=data.datas;
						$('#navigation').empty();	  
						//遍历参数data
						   var html = "<li><a href='index.html'>首页</a></li>";
			                for(var i=0;i<cols.length;i++){    //遍历data数组
			                        var ls = cols[i];
								if(ls.name=="解决方案"||ls.name=="产品介绍"||ls.name=="工程案例"){
                                       /* html +="<li><a href='col_news.html?colId="+ls.id+"&superId="+ls.superId+"'>"+ls.name+"</a></li>\n"*/
                                    //插入二级菜单的样式
                                  html=getChild(ls.id,html,ls.name);
                                    }
                                else{
                                    html += "<li><a href='col_news.html?colId=" + ls.id + "&superId=" + ls.superId + "'>" + ls.name + "</a></li>\n"
                                }
			                }
			               // alert(html);
			                    $("#navigation").html(html); //在html页面id=text1的标签里显示html内容
			                },
		error:function(XMLHttpRequest, textStatus, errorThrown){

		}			
			 });


	   })

//获取所有的二级栏目的栏目名
function getChild(superId,html,name) {
     // alert(superId+"superId\n"+html+"html\n"+name+"name");
      var htm=html;
     // alert(htm+"1***");
      htm+="<li><a href='#'>"+name+"</a><div><div>";
    //  alert(htm+"2***");
    $.ajax({
        url:'/selectColumn',
        async:false,
        type:'GET',
        data:{superColumnId:superId},
        success:function(res){
            if(res.code==200){
                var	childs=res.datas;
                for (var i = 0; i < childs.length; i++) {
                    var child_name = childs[i].name;
                    var child_id=childs[i].id;
                 htm+="<span><a href='col_news.html?colId="+child_id+"'>"+child_name+"</a></span>\n";
                  //  alert(htm+"3****");
                }

                htm+="</div></div></li>";

            }
        },
        error:function(XMLHttpRequest, textStatus, errorThrown){
        }
    })
   // alert(htm+"4*****");
    return htm;

}
  		 </script>

</html>