<!DOCTYPE html>
<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
	
		<script type="text/javascript" src="/static_user/js/jquery-3.3.1.js"></script>
		<link rel="stylesheet" href="/static_user/css/all.css" />


	</head>

<body>
	﻿
	<footer>
		<div class="footer">
			<ul>
				<li><a href="#frame_top"><span>返回顶部</span></a></li>
				<li><a href="col_news.html?colId=1"><span>公司简介</span></a></li>
				<li><a href="col_news.html?colId=9"><span>联系我们</span></a></li>
				<li><a href="col_news.html?colId=8"><span>服务外包</span></a></li>
				<li><a href="admin/login.html"><span>后台管理</span></a></li>
			</ul>


			<p style="margin-left: 50px;">睿安信息科技（广东）有限公司，欢迎您的到来和加入。</p>
			<p style="margin-left: 50px;">Powered by Ruian Inc. © 2018 All
				Rights Reserved. &nbsp;&nbsp;粤ICP备181030号</p>
			<p>
				<a href="#" > <img
					style="width: 45px; height: 45px; margin-left: 50px"
					src="/static_user/img/foot_line.png">
				</a>
			</p>
		</div>
	</footer>

</body>
</html>
