<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>睿安信息科技</title>
		<link rel="icon" href="/static_user/img/system/navlogo.png" />
		<link rel="stylesheet" href="/static_user/css/all.css" />
		<script type="text/javascript" src="/static_user/js/jquery-3.3.1.js"></script>

		
	</head>
		
	<body>
	<div id="frame_top"></div>
	<!--<div id="left">

	</div>
-->

	<div class=" info-right">
		<div class="info-right-title">
			<a href="#"></a> <span id="infoName"></span>
		</div>

		<div>
			<div id="content"></div>
			<span id="col_news_info"><a
				style="color: red; font-size: 18px"></a></span>
		</div>
		<br>
		<br>
		<div class="page-list"></div>
	</div>


	</body>


<!--  获取新闻信息-->
		
			
<!--  获取公司基本信息-->
<script type="text/javascript">
function GetQueryString(name)
{
     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if(r!=null)return  unescape(r[2]); return null;
}

//获取所有栏目
  $(document).ready(function(){ 
	  $("#frame_top").load("frame_top.html");
	  var columnId = GetQueryString("messageId");
      sessionStorage.setItem("index", columnId);
      var colId=GetQueryString("colId");
/*
      if(colId!=4&&colId!=9){
    	  $("#left").empty();
      }*/
  /*	var map={
		    1:'公司简介',
		    2:'工程案例',
		    3:'新闻资讯',
		    4:'产品介绍',
		    5:'产学研',
		    6:'服务外包',
		    7:'合作伙伴',
		    8:'产学研',
		    9:'解决方案'
		};
  	if(colId!=1){
  	    $("#infoName").empty();
  	$("#infoName").html(map[colId]);
  	}*/
  	//获取栏目名显示
      //获取所有的栏目名
      $.ajax({
          url: '/columnName',
          type: 'GET',
          data: {columnId: colId},
          success: function (res) {
              if (res.code === 200) {
                  //获取所有的栏目名列表
                  var colNames = res.datas;

                  $("#infoName").empty();
                  $("#infoName").html(colNames);
              }
          }
      });

			//获取信息内容
			 $.ajax({
				type:"GET",
					url:"/selectMessageByMessageId",
					data:{messageId:columnId},
					dataType:"json",
					success:function(res){
				    $('#content').append("<h1 style='text-align: center;'>"+res.datas[0].title+"</h1>");
				    if(res.datas[0].filePath!=null && res.datas[0].filePath!=""){
                        $('#col_news_info').children('a').text( '附件: ' + res.datas[0].filePath);
                        $("#col_news_info").children('a').attr('href', '/downFile?messageId='+res.datas[0].id)
					}

						$('#content').append("<p>"+res.datas[0].content+"</p>");
					},
		error:function(XMLHttpRequest, textStatus, errorThrown){
		}
			 });
	
	   })
 </script>
		
		

</html>
