<!DOCTYPE html>
<html class="site-demo-overflow">
<head>
    <meta charset="utf-8">
    <title>新闻发布中心 - 添加新闻</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/static_admin/layui/css/layui.css?t=1540772596894" media="all">

    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/static_admin/layui/layui.js?t=1540772596894" charset="utf-8"></script>
    <script src="/static_admin/js/jquery-1.4.4.min.js" charset="utf-8"></script>
    <script src="/static_admin/js/jquery-form.js" charset="utf-8"></script>

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div id="outside"></div>
    <div class="layui-tab layui-tab-brief" lay-filter="demoTitle">
        <div class="layui-body layui-tab-content site-demo site-demo-body">
            <div class="layui-tab-item layui-show">
                <div class="layui-main">
                    <div id="LAY_preview">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                            <legend>栏目修改</legend>
                        </fieldset>
                        <form id="tf" class="layui-form" action="" enctype="multipart/form-data">
                            <div class="layui-form-item">
                                <div class="layui-inline" >
                                    <label class="layui-form-label" style="width: 150px;">请选择要修改的栏目<sup
                                            style="color:red;font-size:15px;">*</sup></label>
                                    <div class="layui-input-inline" style="z-index:10000;">
                                        <select id="ColumnId" name="id" lay-verify="required" lay-search>
                                            <option value="">直接选择或搜索选择</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 150px;">修改后的栏目名<sup style="color:red;font-size:15px;">*</sup></label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" lay-verify="required" placeholder="请输入新的栏目名"
                                           style="width:400px;"
                                           autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="demo1">修改</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</div>
<script type="text/javascript">
    function createForm() {
        layui.use(['form'], function () {
            var form = layui.form, layer = layui.layer;

            //监听提交
            form.on('submit(demo1)', function (data) {
                //提交表单
                // alert("提交的表单数据为:" + JSON.stringify(data.field));
                var option = {
                    url: '/admin/updateColumn',
                    type: 'POST',
                    dataType: 'json',
                    data:JSON.stringify(data.field),
                    async: false,//设为同步请求
                    headers: {"ClientCallMode": "ajax"}, //添加请求头部
                    success: function (data) {
                        if (data.code == "200") {
                            layer.msg("栏目名修改成功");
                            setTimeout("location.reload(true)", 500);
                        } else {
                            layer.msg("栏目名修改失败!");
                        }
                    },
                    error:function(){
                        layer.msg("栏目名修改失败!");
                    }
                };
                $("#tf").ajaxSubmit(option);

                return false;
            });
        });
    }

    //加载完成时请求的方法
    window.onload = function () {
        //请求加载栏目信息
        $.ajax({
            url: '/admin/selectColumn',
            method: 'post',
            data:{c:2},
            dataType: 'json',
            async: true,//异步加载
            success: function (data) {
                //加载成功
                if (data.code == "200") {
                    //设置栏目
                    var options = "<option value=''>直接选择或搜索选择</option><br/>";
                    for (var i = 0; i < data.datas.length; i++) {
                        options += "<option value='" + data.datas[i].id + "'>" + data.datas[i].name + "</option><br/>";
                    }
                    $("#ColumnId").html(options);
                    createForm();
                } else {
                    layer.msg("栏目信息加载失败!");
                }
            }
        });

        //加载外部
        $("#outside").load("outside.html", function () {
            $("#doAdd").addClass("layui-this");
        });
        //加载底部
        $("#footer").load("footer.html");
    };

</script>
</body>
</html>