<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>新闻发布中心 - 新闻管理</title>
  <link rel="stylesheet" href="/static_admin/layui/css/layui.css">
  <script src="/static_admin/js/jquery-1.4.4.min.js" charset="utf-8"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">
   		<span style="font-size: 22px;">新闻发布中心</span>
    </div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
      	
        <a id="adminName" href="javascript:void(0);">
          	管理员: 
        </a>
      </li>
      <li class="layui-nav-item"><a href="javascript:void(0);" onclick="adminLogout()">退出登录</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有操作</a>
          <dl class="layui-nav-child">
            <dd><a href="add">新闻添加</a></dd>
            <dd><a class="layui-this" href="control">新闻管理</a></dd>
            <dd><a href="changepwd">修改密码</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body layui-tab-content site-demo site-demo-body">
    <!-- 内容主体区域 -->
    <div class="layui-tab-item layui-show">
       <div class="layui-main">
         <div id="LAY_preview">
         	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			  <legend>新闻管理</legend>
			</fieldset>
    		<div class="demoTable">
			       筛选栏目：
			    <form class="layui-form layui-inline">
				    <div class="layui-inline">
				        <select id="columnId" class="layui-input" name="columnId" lay-verify="required" lay-search>
				          <option value="">全部</option>
				          <option value="2">是</option>
				          <option value="1">不是</option>
				        </select>
				    </div>
			    </form>
			    <button class="layui-btn" data-type="reload">筛选</button>
			</div>
			<script type="text/html" id="toolbarDemo">
  				<div class="layui-btn-container">
			    	<button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除选中行数据</button>
			    	<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
			    </div>
			</script>
			<table class="layui-hide" id="table" lay-filter="table"></table>
			 
			<script type="text/html" id="toolbarDemo">
  				<div class="layui-btn-container">
   				 <button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除选中行</button>
   				 <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    			 <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
			    </div>
			</script>
 
			<script type="text/html" id="barDemo">
			  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
			</script>
    	 </div>
    	</div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 睿安科技信息（广东）有限公司
  </div>
</div>
<script src="/static_admin/layui/layui.js"></script>
<script>
	function createAll() {
		layui.use('table', function(){
		  var table = layui.table;
		  //方法级渲染
		  table.render({
		      elem: '#table'
		      ,url: '/admin/selectMessageByColumnId'
		      ,toolbar: '#toolbarDemo'
		      ,cols: [[
		          {checkbox: true}
		          ,{field:'id', title: 'ID', width:80}
		          ,{field:'title', title: '标题', width:300}
		          ,{field:'date', title: '日期', width:120}
		          ,{field:'columnName', title: '所属栏目', width:120}
		          ,{field:'isPushed', title: '是否推送', width:120}
		          ,{field:'right', title: '操作', width:170,toolbar:"#barDemo"}
		      ]]
		      ,id: 'testReload'
		      ,page: { 
			  layout: ['count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
			 }
		  });
		
		  var $ = layui.$, active = {
		      reload: function(){
		          var columnId = $('#columnId');
		
		          table.reload('testReload', {
		              where: {
		                  columnId: columnId.val()
		              }
		          });
		      }
		  };
			
		  $('.demoTable .layui-btn').on('click', function(){
		      var type = $(this).data('type');
		      active[type] ? active[type].call(this) : '';
		  });
		
		  //头工具栏事件
		  table.on('toolbar(table)', function(obj){
		    var checkStatus = table.checkStatus(obj.config.id);
		    switch(obj.event){
		      case 'getCheckData':
		        var data = checkStatus.data;
		        delSelect(data);
		      break;
		      case 'getCheckLength':
		        var data = checkStatus.data;
		        layer.msg('选中了：'+ data.length + ' 个');
		      break;
		    };
		  });
		  
		  //监听行工具事件
		  table.on('tool(table)', function(obj){
		    var data = obj.data;
		    //console.log(obj)
		    if(obj.event === 'del'){
		      layer.confirm('确定删除ID为' + data.id + '的行么', function(index){
		        layer.close(index);
		        del(data.id);
		      });
		    } else if(obj.event === 'edit'){
		      //跳转至目标页面
		      location.href="edit?id=" + data.id;
		    }
		  });
		});
		
		//执行删除
		function del(id) {
            var idArray = new Array();
                idArray[0] = id;
			//ajax请求删除数据
			$.ajax({
				url:'/admin/deleteMessage'
				,dataType:'json'
				,data:{messageId: idArray}
				,async:false//关闭异步
				,success:function(data) {
					if(data.code == 200) {
						layer.msg("删除成功!");
					} else {
						layer.msg("删除失败:" + data.msg);
					}
					//成功与否都刷新页面
					setTimeout("location.href='control'", 500);
				}
			});
		}
		
		//执行多选删除
		function delSelect(data) {
			if(data.length == 0) {
				layer.msg("未选中行!");
			} else {
				layer.confirm('确定删除已选中的' + data.length + '行么?', function(index){
			        layer.close(index);
			        var idArray = new Array();
					for(var i=0; i<data.length; i++) {
						idArray[i] = data[i].id;
					}
					//执行删除
			        $.ajax({
			        	url:'/admin/deleteMessage'
                        ,method:'post'
			        	,dataType:'json'
			        	,data:{messageId:idArray}
			        	,async:false//关闭异步
			        	,success:function(data1) {
			        		if(data1.code == '200') {
			        			layer.msg("已成功删除" + data.length + "行!");
			        		} else {
			        			layer.msg("删除失败:" + data1.msg);
			        		}
			        		setTimeout("location.href='control'", 500);
			        	}
			        });
			      });
			}
		}
	}
	//加载完成时请求的方法
    window.onload = function() {
    	//请求加载管理员姓名
    	$.ajax({
    		url : '/admin/getUsername',
    		method : 'post',
    		dataType : 'json',
    		async : true,//异步加载
    		success : function(data) {
    			//加载成功
    			if(data.code == "200") {
    				//设置管理员名称
    				$("#adminName").html("管理员:" + data.datas[0]);
    			} else {
    				layer.msg("管理员名称加载失败!");
    			}
    		}
    	});
    	
    	//请求加载栏目信息
    	$.ajax({
    		url : '/admin/selectColumn',
    		method : 'post',
    		dataType : 'json',
    		async : true,//异步加载
    		success : function(data) {
    			//加载成功
    			if(data.code == "200") {
    				//设置栏目
    				var options = "<option value=\"\">直接选择或搜索选择</option>\n";
    				for(var i=0; i<data.datas.length; i++) {
    					options += "<option value=\"" + data.datas[i].id + "\">" + data.datas[i].name + "</option>\n";
    				}
    				$("#columnId").html(options);
    				createAll();
    			} else {
    				layer.msg("栏目信息加载失败!");
    			}
    		}
    	});
    	
    };
</script>
</body>
</html>