@charset "UTF-8";

/*主色#123683 #0083cc*/
/********************顶部frame_top*****************************/

.menu{
    font-family: arial,sans-serif;
    display:inline-block;
    float:right;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu ul li{
    float: left;
    text-align: center;
    position: relative;
}

.menu ul li a:link, .menu ul li a:visited{
    display: block;
    text-decoration: none;
    color: #324c69;
    font-size:17px;
    width: 94px;
    height: 80px;
    line-height: 80px;
    background: #fff;

}

.menu ul li:hover a{
    color: #fff;
    font-weight: bold;
    background: #2364eb;
}


/**********二级菜单样式一***********/


/*隐藏二级菜单ul*//**************/
.menu ul li div{
	z-index:2;
	display: none;
}/*隐藏结束*/


/*显示二级菜单*/
.menu ul li:hover div{
	display: block;
	position: absolute;/*为relative则是弹出*/
	right: 0px;
}/*结束*/

.menu ul li:hover div span{
	display: block;
	/*border-top: 1px solid #123683;*/
}

/*添加二级菜单鼠标移过的样式*/
.menu ul li:hover div span a{
	display: block;
	background: rgba(38, 135, 235, 0.86);
	color: #fff;
	width: 94px;
	font-size:15px;
	font-weight: normal;
}
.menu ul li:hover div span a:hover{
	background: rgba(0, 165, 255, 0.8);
	color: #fff;
}
/**********二级菜单样式一结束***********/

/*

!**********二级菜单样式二***********!

!*隐藏二级菜单ul*!!**************!
.menu ul li div{
    z-index:2;
    display: none;
}!*隐藏结束*!


!*显示二级菜单*!
.menu ul li:hover div{
    display: block;
    position: relative;!*使用relative弹出二级菜单*!
	height: 50px;
}!*结束*!
!*显示二级菜单*!
.menu ul li:hover div div{
	display: block;
	position: absolute; !*使用absolute防止一级菜单会被二级菜单撑开*!
	width: 1800px;
	height: 50px;
	left: -750px;
	background: #2364eb;
	padding-left: 500px;
}

.menu ul li:hover div span{
	float: left;
}

!*添加二级菜单鼠标移过的样式*!
.menu ul li:hover div span a{
    display: block;
    background: #2364eb;
    color: #fff;
    font-size:15px;
    font-weight: normal;
	height: 50px;
	line-height: 50px;
	width: 100px;
	margin-left: 60px;
}
.menu ul li:hover div span a:hover{
    background: #2687eb;
    color: #fff;
}
!**********二级菜单样式二结束***********!
*/


/********************顶部frame_top结束*****************************/



/********************主页框架frame_x*****************************/
.frame_x {
	padding: 0 2rem;
	 margin-bottom: 100px;

	/*border-right: 2px solid blue;*/
	border-left: 2px solid #123683;
	width: 100%;
	height: 450px;
}

.frame_x h1{
 	text-align:center;
 	color: #123683;
 	font-size:  20px;
}

.frame_x h1 img{
 	width: 20px;
}


.frame_x ul {
	margin: 0;
	padding: 0
}

.frame_x li {
	list-style-type: none;
	padding-top: .5rem;
	width: 100%;
	padding-bottom: .8rem;
	border-bottom: 1px dotted #123683;
}
 .frame_x li:hover{
	background-color: #d2dff9;
}

.frame_x li a:hover span {
	color: blue;
	text-decoration: none; 
}

.frame_x li span {
	display: block;
	color: black;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 1.3rem;
}

.frame_x li span::before {
	content: "▶   ";
	font-family: iconfont;
	color: #123683;
	padding-left: .3rem
}

.frame_x li em {
	display: block;
	color: gray;
	font-style: normal;
	font-size: 1.2rem;
	padding-left: 1.5rem;
}


.frame_x-more{
	color: rgba(22, 67, 163, 0.51);
	font-weight: bold;
	float: right;
	margin: 15px 10px 10px auto;
	cursor: pointer;
	font-size: 12px;
}
.frame_x-more:hover{
	color: #123683;
	border-bottom: 1px solid #123683;

}
/********************主页框架frame_x结束*****************************/




/********************底部frame_bottom*****************************/

footer {
	margin-top: 3rem;
	float: left;
	background-color: #0c2558;; 
	width: 100%;
}

.footer {
	text-align: center;
	padding: 3rem 1rem
}

.footer li {
	display: inline-block;
	padding: 0 1rem;
	position: relative
	
}
.footer li a {
	text-decoration: none; 
}

.footer li span {
	font-size: 1.6rem;
	/* margin-right: 2rem;*/
 	color: #fff;
}

.footer li::after {
	content: "|";
	font-family: iconfont;
	color: #fff;
	position: absolute;
	right: -2px;
	top: 3px;
}

.footer p{
	color: gray;
}

/********************底部frame_bottom结束*****************************/


/*
!********************跳转页面左*****************************!
 
.info-left {

	width: 25%;
	background: #ffffff;
	padding-bottom: 5rem;
	!*margin-left: 5px;*!
	!*border-left: 3px solid #0083cc;*!
	!*border-right: 1px solid #0083cc;*!
	float: left;
	!*background-color: #eaefff;*!
	
}

.info-left h1 {
	text-align: center;
	background-color:#123683;
	padding:35px;
 	color: #fff;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
}



.info-left ul {
	padding: 0;
	font-size: 25px
}

.info-left li {
	text-align: center;
	width: 100%;
	position: relative
}


.info-left li a {
	color: #686868;
	margin: 0 1rem;
	display: block;
	border-bottom: 1px dashed #123683;
	text-decoration:none;
	
	padding: 30px ;
}


.info-left li a:hover {
	color: #fff;
	background: #2687eb;
}
!********************跳转页面左结束*****************************!*/



/********************跳转页面右*****************************/
.info-right {
	width: 100%;
	float: left;
	/*padding-left: 40px;*/

}

/*******开头标题**********/
.info-right-title {
	border-bottom: 3px solid #e7e7e7;
	padding-bottom: 19px;
	margin-top: 20px;

}


.info-right-title a {
	float: left;
	font-size: 3rem;
	margin-left: .3rem;
	margin-top: .5rem;
	color: #666
}

.info-right-title span {
	color: #0083cc;
	font-weight: 700;
	border-bottom: 3px solid #0083cc;
	padding: 0 1rem 1.2rem;
	font-size: 1.7rem
}
/**********信息列表样式1:整行式*************/

.info-right-list{
	list-style-type:none;
}

.info-right-list li div{
	position: relative;
	background-color: #fff;
	border-bottom:1px solid gray;
	height: 160px;
	cursor:pointer;
}
.info-right-list li div:hover{
    background: #eaefff;
}

.info-right-list  li div img{
	position: relative;
	height: 140px;
	width: 15%;
	margin-top: 10px;
	/*margin-left: 30px;*/
}

.info-right-list  li div a{
	text-decoration:none;
	margin-top: 10px;
	/*margin-left: 30px;*/
	font-size:20px;
	position: absolute;
	color:#0083cc;

	height: 160px;
	width: 85%;
}
/*
.info-right-list li div a:hover{
    background: red;
}*/
.info-right-list li div a::before {
	content: "▶";
	font-family: iconfont;
	color: #0083cc;
	padding-left: .3rem;
	margin-right: .4rem
}

.info-right-list  li div span{
	text-decoration:none;
	margin-top: 110px;
	 margin-right: 30px;
	/*text-align:right;*/
	float: right;
	font-size:15px;
	position: relative;
	color: rgba(0, 131, 204, 0.62);
}

/**********信息列表样式2:矩阵式*************/
.info-right-list2{
	list-style-type:none;
}

.info-right-list2 li div{
	position: relative;
	background-color: #fff;
	height: 270px;
	width: 250px;
	float: left;
	cursor:pointer;
	text-align: center;
	margin: 25px;
	/*background: #eaefff;*/
	border: 2px solid #d2e0ff;
}

.info-right-list2 li div:hover{
	background: #d2e0ff;
}

.info-right-list2  li div img{
	position: absolute;
	height: 170px;
	width: 80%;
	display: block;
	margin: 10%;
}

.info-right-list2  li div a{
	text-decoration:none;
	display: block;
	font-size:25px;
	position: relative;
	color: #0083cc;
	height: 100%;
	line-height: 450px;
	width: 100%;

}
/*
.info-right-list2 li div a:hover{
    background: red;
}*/
/*.info-right-list2 li div a::before {
	content: "▶";
	font-family: iconfont;
	color: #123683;
	padding-left: .3rem;
	margin-right: .4rem
}*/

.info-right-list2  li div span{
	display: none;//不显示
	height:0px;
	width: 0px;
}
/********************跳转页面右结束*****************************/



/********************分页****************************/

.page-list {
	line-height: 24px;
	text-align: center;
	letter-spacing: 0;
	font-family: "Arial Black";
	font-size: 15px;
	padding-top: 50px;
	clear: both;
}

.page-list a:link{
	display: inline-block;
	text-align: center;
	padding: 0 8px;
	margin: 0 1px;
	text-decoration:none;
	color: #123683;
	border: 1px solid #0083cc;
	background: #fff;
	height: 30px;
	line-height: 30px;
	width: 30px;
}

 .page-list a:hover {
	color: #fff;
	border: 1px solid #123683;
	background: #0083cc
}

.pick{
	color: #fff !important;
	border: 1px solid #123683 !important;
	background: #123683 !important;
}
/********************分页结束****************************/